@font-face {
  font-family: "Chromate";
  src: url("../fonts/Chromate-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Questrial";
  src: url("../fonts/Questrial-Regular.ttf") format("truetype");
}

body {
  font-family: "Questrial";
}

h1 {
  font-family: "Chromate";
  font-weight: 400;
  font-size: 50px;
}